#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	tar -xf debian/prebuilt/ghostty-$(shell dpkg-architecture -qDEB_HOST_ARCH).tar.xz
	mkdir -p debian/ghostty debian/libghostty-dev
	mv ghostty/* debian/ghostty/
	mv libghostty-dev/* debian/libghostty-dev/
